---
BasedOnStyle: Microsoft
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: 'true'
Language: Cpp
NamespaceIndentation: All
TabWidth: '4'

...
