[submodule "application/dependencies/GLEW"]
	path = application/dependencies/GLEW
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "application/dependencies/GLFW"]
	path = application/dependencies/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "application/dependencies/googletest"]
	path = application/tests/dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "application/dependencies/yamlprsr"]
	path =  application/configloader/dependencies/yamlprsr
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "application/dependencies/ASSIMP"]
	path =  application/dependencies/ASSIMP
	url = https://github.com/assimp/assimp.git
[submodule "application/dependencies/SOIL2"]
	path = application/dependencies/SOIL2
	url = https://github.com/SpartanJ/SOIL2.git
[submodule "application/dependencies/GLM"]
	path = application/dependencies/GLM
	url = https://github.com/g-truc/glm.git
